/*  your css code here. If applicable */
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
	background-color:;
  flex-wrap: wrap;
  margin-top: 20px;
}
.btn{
	background-color:purple;
	color:white;
	padding:20px;
	border:none;
}